<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
</head>
<body>
    <div class="ui grid">
        <%- include('title.ejs') %>
        <div class="two wide column"></div>
        <div class="three wide column">
            <%- include('tree.ejs') %>
        </div>
        <div class="eight wide column">
            <form class="ui form">
                <img class="ui fluid image" src="/static/index.jpg">
            </form>
        </div>
        <div class="three wide column"> </div>
    </div>
</body>
</html>