<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header.ejs') %>
</head>
<body>
    <div class="ui grid">
        <%- include('title.ejs') %>
        <div class="two wide column"></div>
        <div class="three wide column">
            <%- include('tree.ejs') %>
        </div>
        <div class="nine wide column">
            
            <form class = "ui form">

                <h4 class="ui dividing header"> 受处分人：</h4>
                <div class = "two fields">
                    <div class = "field">
                        <lable> 座号 </lable>
                        <input type = "text" id = "i_id" placeholder = "">
                    </div>
                    <div class = "field">
                        <!-- <lable> 学期 </lable>
                        <input type = "text" id = "i_term"/> -->
                    </div>
                </div>
                
                <h4 class = "ui dividing header"> 处分内容：</h4>
                <div class = "two fields">
                    <div class = "field">
                        <lable> 类型 </lable>
                        <select class = "ui fluid dropdown" id = "i_type" onchange="func()">
                            <option value = ""> 请选择 </option>
                            <option value = "cd"> 迟到 </option>
                            <option value = "hw"> 缺交作业 </option>
                            <option value = "ws"> 卫生 </option>
                            <option value = "else"> 其他 </option>
                        </select>
                    </div>
                    <div class = "field">
                        <lable> 分值 </lable>
                        <input type = "text" id = "i_vl"/>
                    </div>
                </div>
                <h4 class = "ui dividing header"> 处分详情：</h4>
                <div class = "field">
                    <input type = "text" id = "i_cause" placeholder="(可以不填)"/>
                </div>
                <h4 class = "ui dividing header"></h4>
                <div class="ui fluid large teal submit button" id="b_submit">Submit!</div>
            </form>

        </div>
        <div class="three wide column"> </div>
    </div>
    <script type="text/javascript">
        var table = {
            cd : { vl : 1, tp : "迟到" },
            hw : { vl : 1, tp : "缺交作业" },
            ws : { vl : 1, tp : "卫生" },
            else : { vl : 0, tp : "其他" }
        }
        jQuery(function($) {
            // $input_term.val('<%=nowTerm%>');
        });
        function func() {
            var $input_type = $('#i_type');
            var type = $input_type.val();
            // alert(type);
            $('#i_vl').val(table[type].vl);
        }
        function submit() {
            
            var $input_id = $('#i_id');
            var $input_type = $('#i_type');
            var $input_cause = $('#i_cause');
            var $input_vl = $('#i_vl');
            var $btn = $("#b_submit");
            if ($btn.hasClass('disabled')) return;
            var idd = $input_id.val();
            // var term = $input_term.val();
            var type = $input_type.val();
            var vl = $input_vl.val();
            // alert(type);
            var cause = $input_cause.val();
            if (!idd) {
                $input_id.val('').focus();
                return;
            }
            // if (!term) {
            //     $input_term.val('').focus();
            //     return;
            // }
            if (!type) {
                $input_type.val('').focus();
                return;
            }
            if (!vl) {
                $input_vl.val('').focus();
                return;
            }
            // alert("after judge");
            $btn.addClass('disabled');
            $.ajax({
                url: '/edit',
                method: 'post',
                data: {
                   id : idd,
                   delta : -vl,
                   type : table[type].tp,
                   cause : cause,
                   item : "performance",
                   page : "/minus"
                },
                dataType: 'json'
            }).done(function(data) {
                if (data.success) {
                    alert(data.message);
                    $btn.removeClass('disabled');
                    location.href = data.url;
                } else {
                    alert(data.message);
                    // $input.select();
                    $btn.removeClass('disabled');
                }
            }).fail(function() {
                alert('未知错误!');
                $btn.removeClass('disabled');
            });
        }
        $('#b_submit').click(function() {
            submit();
        });
        // $('#i_term').keyup(function(e) {
        //     if (e.which === 13) login();
        // });
    </script>
</body>
</html>