<div class="sixteen wide column"></div>
<div class="two wide column"></div>
<div class="fourteen wide column">
    <h1 class="ui header">
        <img class="ui image" src="/static/school.png">
        <div class="content">
          FcClass Little Manager
        </div>
    </h1>
</div>